@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sypher-light-compGray: #f0f0f0;
  --color-sypher-light-border: #d4d4d4;
  --color-sypher-light-darkBorder: #727272;
  --color-sypher-navGray: #ececec;
  --color-sypher-light-text: #3a3a3a;
  --color-primary-50: #ffeeea;
  --color-primary-100: #fecabf;
  --color-primary-200: #feb0a0;
  --color-primary-300: #fd8c75;
  --color-primary-400: #fd755a;
  --color-primary-500: #fc5331;
  --color-primary-600: #e54c2d;
  --color-primary-700: #b33b23;
  --color-primary-800: #8b2e1b;
  --color-primary-900: #6a2315;
  --color-secondary-50: #eafbff;
  --color-secondary-100: #bff4fe;
  --color-secondary-200: #a0eefe;
  --color-secondary-300: #75e6fd;
  --color-secondary-400: #5ae1fd;
  --color-secondary-500: #31dafc;
  --color-secondary-600: #2dc6e5;
  --color-secondary-700: #239bb3;
  --color-secondary-800: #1b788b;
  --color-secondary-900: #155c6a;
  --color-text: #595959;
  --color-border: #d8d8d8;
  --color-background: #fff7f5;
  --color-success: #2db92d;
  --color-pending: #d9950c;
  --color-failed: #e01300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff7f5;
    --foreground: #595959;
  }
}

@utility scrollbar {
  scrollbar-width: thin;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

.helper {
  color: #03a3ff;
}

.custom-scrollbar::-webkit-scrollbar {
  overflow-y: hidden;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  border-radius: 60px;
  height: 5px;
  border: 6px solid transparent;
  background-clip: content-box;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar-button {
  position: relative;
  display: block;
  width: 4px;
  height: px;
  scrollbar-width: none;
}

@media (max-width: 467px) {
  .Toastify__toast {
    margin-top: 20px !important;
    width: 90% !important;
    height: 10px;
    border-radius: 10px !important;
    background-color: blue;
    text-align: center !important;
  }
}
